# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: TerraformInstaller@0
  inputs: 
   terraformversion : '1.0.0'


- task: TerraformTaskV1@0
  inputs:
   provider : 'azurem'
   command : 'init'
   workingDirectory: '$(system/Defaultworkingdirectory)'
   backendResourceRMgroupName:'$(resourceGroup)'